<div th:fragment="commentModal" id="commentModal"
 class="modal" role="dialog" tabindex="-1" data-backdrop="static"
	data-keyboard="false">
	<div class="modal-dialog modal-lg">

		<div class="modal-content">
			<div class="modal-header">
			
				
				<label> 
				<span><i class="fa fa-search"></i>  Details</span>
			</label>
						
			</div>
			<div class="modal-body">
				<span class="glyphicon glyphicon-star" style="font-size:18px;color:#B8860B"></span>
				<span class="rate" style="font-size:18px;"></span>
				<h3></h3>
				<h5></h5>
				<h6>Author: <i></i></h6>
			</div>

			<div class="modal-footer">
				<button  type="button" id="close" class="btn btn-default" data-dismiss="modal">
				<i class="fa fa-times"></i> Close</button>
			</div>
		</div>
	</div>
</div>